.octodex {
	list-style: none;
	padding:0;
	position: relative;
	bottom: 8px;
}

.octocat {
	float: left;
}
.octocat ul {
	display: inline;
}

ul .octocat {
	margin:10px;
}

.octocat img {
	width: 400px;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
}



.authors img{
	height:25px;
	width:25px;
	float: right;
	position: relative;
	bottom:5px;
	border-radius: 5px;
}

/*.authors img:nth-child(2){
	padding-right: 2px;
}*/

 .authors  {
	list-style: none;
}

ul .authors li {
	float: right;
	padding-left: 8px;

}

ul .authors {
	padding:1px;
}
.image-number {
	position: relative;
	top:10px;
	float: left;
	color:#CCCAC8;
	font-weight: bold;
	font-size: 15px;

}
.image-caption {
	position: relative;
	top:10px;
	float: right;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 20px;
}

.image-caption img{
	float:right;
}

span {
	color:#646366;
	font-family: helvetica;
	font-size: 14px;
}

 a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 14px;
}


